body {
    background-color:antiquewhite;
    
}

h3 {
    
    text-align: center;
    color: #00541A;
    font-weight: bold;
    font-size: 25px;

}

header, h1 h3{
    text-align: center;
}

ul li {
    list-style-type: none;
    /* margin-bottom: 5px; */
    font-size: 20px;
    padding-top: 10px;
    
}

ul {
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}

ol li {
    margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #000000;
    color: white;
    padding: 10px;
    line-height: 1.5;
    border-radius: 10px;
}

p {
    color: red;
}